@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left-container {
    width: 55%;
    height: 83%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    box-sizing: border-box;
    padding: 5%;
}

.pic-box-container {
    width:100%;
    height: 100%;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    /* justify-content: center;
    /* justify-content: center;*/
    /* align-items: center */
}
.pic-box-container img {
    height: 100%;
    width: 100%;
}
.pic-box-container p {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0px;
}

.left-bottom-quote {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 24%;
    font-family: 'Press Start 2P';
    justify-content: center;
    /* align-items: center; */
    font-size: 3em;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-box {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;

}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.signup-form input {
    width: 100%;
    height: 11%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 1%;
}


ul li {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.createdBy {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .3em;
    font-weight: bold;
}

.uploadAndSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 15%;
}

.uploadAndSelect button {
    flex: 1;
    height: 100%;
    width: 45%;

}

.smaller-input {
    padding: 30px;
}

.displayPictures {
    display: flex;
    width: 100%;
    height: 24%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.avatarPreview {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.profilePreview {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.topOfRight {
    height: 18%;
}

.topOfRight h1, h2 {
    margin-top: 0%;
    text-align: center;
}

.top90 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
