.main-container {
    display: flex;
    width: 100%;
    height: 90%;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.left-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pic-box-container {
    width: 100%;
    height: 70%;


    display: flex;
    justify-content: center;
    align-items: center
}

.left-bottom-quote {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-box {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;

}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.signup-form input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


ul li {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
