.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.healthbar {
  flex-basis: 80%;
  border: 5px solid black;
  display: flex;

}
.navbar-container {
  height: 10%;
  min-height: 10%;
  width: 100%;
  display: flex;
}

.logo, .dropdown {
  flex: 1;
  flex-basis:10%;
}

.dropdown {
  text-align: right;
}

.fancy-text {
  flex:8;
}

.currentHealth {
  background-color: green;
}
