.stats-container {
    display: flex;
    flex-direction: row;
}

.avatar, .stats, .inspirational-quote {
    padding: 10px;
    box-sizing: border-box;
}

.avatar{
    flex-basis: 20%;
    height: auto;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    max-height: 100%;
}

.stats {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.inspirational-quote {
    flex-basis: 60%;
}

.main-main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap:wrap;
    width: 100%;
}

.habits {
    border: 5px solid black;
    box-sizing: border-box;

    width: 50%;
    height: 100%;

}

.dailies {

        border: 5px solid black;
        box-sizing: border-box;

        width: 50%;
        height: 100%;


}

.tables {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 69%;
}
